
.projects-main-container{

	width: 100%;
	height:100%;
	box-sizing: border-box;
	
	display: flex;
	align-items: center;
	position: relative;

	animation-name:fadein;
	animation-duration: 2s;
	animation-delay: 0;
	animation-fill-mode:both;
	animation-iteration-count: 1;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}



.projects-inner-container{


	padding: 10px 0;
	width: 100%;
	height: 70%;
	display: grid;
	grid-template-columns:100%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 4em;
    margin: 0;
 	

}


.main-upper{

overflow: hidden;
}



.upper-div-animation{
position: absolute;
margin: 0;
height: 100%;
left:0em;
width: 35vw;
background-color: white;
z-index: 1;
animation: movefromleft 1s 0s both linear;
}


.upper-div{
height: 100%;
width: 80%;
margin-left: auto;
background-color: black;

direction: ltr;
position: relative;


}

.inner-upper-div{

height: 100%;
width: 58vw;
padding-right:40em;
padding-left: 1em;
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr;
opacity: 1;
background-color: white;
animation: fadein 1s 0.4s both linear;


}



@keyframes movefromleft {
  from {left: -100em;}
  to {left: 100em;}
}

@keyframes moveformright {
  from {opacity: 0;}
  to {opacity: 1;}
}



.main-bottom{

overflow: hidden;
}


.bottom-div{
 
height: 100%;
width: 61%;
direction: rtl;
position: relative;
background-color: black;

}

.inner-bottom-div{

height: 100%;
width: 61vw;
display: grid;
padding-right: 1em;
grid-template-columns:1fr 1fr 1fr 1fr;
grid-column-gap:0em;
background-color: white;
animation: fadein 1s 0.4s both linear;
}



.bottom-div-animation{
position: absolute;
margin: 0;
height: 100%;
width: 35vw;
right:0em;
background-color: white;
z-index: 1;
position: absolute;
animation: movefromright 1s 0s both linear;
}



@keyframes movefromright {
  from {right: -100em;}
  to {right : 100em;}
}

.animated-title-projects {
	position: absolute;
	top:-3em;
	right: 1em;
	width: 14vw;
	height: 90vh;
	z-index: 3;
}





@media screen and (max-width: 480px) {
 
	.animated-title-projects {
		position: fixed;
		top:-9em;
		left:8em;
		width: 30vw;
		transform: rotate(90deg);
	}
	
	.projects-inner-container{
		height: 40%;
		grid-gap: 2em;	
	}
	
	.upper-div{
		margin-left:.3em;
	}
	
	.inner-upper-div{
		width: 95vw;
		padding-right:35em;
		padding-left: -1em;
	}	

	.bottom-div{
		width: 100%;
	}
		
	.inner-bottom-div{
		width: 95vw;
		padding-right: 1em;
	}
		

		
	.bottom-div-animation{
		width: 10vw;
		right:1em;
	}
}
