
.about {

	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	align-content: center;
	animation-name:fadein;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-fill-mode:both;
	animation-iteration-count: 1;
}



@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes movein {
  from {left: -100em;}
  to {left: 0;}
}

@keyframes moveinimg {
  from {left: 100em;}
  to {left: -1em;}
}

.grid_about{

  display: grid;
  grid-template-columns:0.3fr  0.6fr 1fr;
  grid-template-rows: 100%;
	overflow:hidden;
  grid-gap: 2em;
}

.about_animated_block{

	margin:0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;

	

}

.about_animated_block div{
	background-color: white;
	height: 35%;
	width: 100%;
	position: absolute;
	top: 3em;
	animation: movein 1s 0s;
	
}


.about_animated_block img{
 	position: absolute;
	width: 40vw;
	height: auto;
	z-index: 1;
	top:4em;
	left:-1em;
	animation:moveinimg 1s .5s both;


}




.paragraphs{

background-color: black;
    overflow: hidden;
    text-overflow: clip;
  	animation-name:textabout;
	animation-duration: 3s;
	animation-delay: 1.2s;
	animation-fill-mode:both;
    margin: 0.6em; 
}


@keyframes textabout {
  from {height : 0%;}
  to {height: 100%;}
}


.paragraphs p{

	direction: rtl;
	color: white;
	font-size: 1.2em;
	font-weight: 300;
	 font-family: 'Assistant';
}


.about_animated_title{

background-color: inherit;
height: 100%;
width:100%;
	animation-name:fadein;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode:both;
}

.about_animated_title div{

background-color: black;
width: 6.6vmax;
height: auto;
margin: 0 0 0 auto ;
overflow: hidden;

}


.about_animated_title div > img {

	max-height:100%;
	max-width:100%;
}



