
.bottom{

	display: flex;

	margin:0;
	padding: 0;
	color:white;
	height: 10%;
	width: 100%;
 	justify-content: flex-start;
 
 	
}


.bottom ul{
	display: block;
	list-style: none;
	
}





.bottom ul li{
display: inline;
margin:2px;
}

.bottom ul li a {
  color: inherit;
  text-decoration: none; 

}