
.home-main-container{

	width: 100%;
	height:100%;
	
	box-sizing: border-box;
	position: relative;
}

.home-inner-container{

position: absolute;

width: 100%;
height: 75%;
margin: auto;
top:0;
bottom: 0;

}


.home-main-div-grid{

  display: grid;
  grid-template-columns: 30% 70%;
   grid-template-rows: auto;
  background-color: inherit;
}



.home-white-block-animated{
height: 100%;
width: 100%;
background-color: white;
margin: 0;
padding: 0;
animation-name:block;
animation-duration: 1.2s;
animation-delay: 1s;
animation-fill-mode:both;
}


.home-logo-animated{

width: 100%;
height:100%;

animation-name:fadein;
animation-duration:4s;
animation-delay: 0s;
animation-fill-mode:both;
}

.home-logo-animated  img{

width: 98%;
height: auto;
float: right;
margin-right: .5em;



}


.home-text-div{

	width: 35%;
	direction: rtl;
	right: 12em;
	display: block;
	position: absolute;
	
	height: 60%;
    overflow: hidden;
    text-overflow: clip;
  	animation-name:text;
	animation-duration: 1s;
	animation-delay: 1.5s;
	animation-fill-mode:both;
    margin: 0.6em; 
}


.home-text-div div{

	

	float: left;
	direction: ltr;


	animation-name:fadein;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode:both;
}

.home-text-div p{
	color:white;
	font-size:1.4em;
	direction: rtl;
	font-weight: 300;
	font-family: 'Assistant';



}

.home-image-div{
	position: absolute;
	left:9em;
	top:-3em;
	display: block;
	width: 30vw;
	height: 75vh;
	z-index: 2;
	background-size: contain;
	background-repeat: no-repeat;
  	animation-name:trasactionx;
	animation-duration: 1s,1s;
	animation-delay: 1.7s,3s;
	animation-fill-mode:both,none;
	animation-iteration-count: 1, infinite;

}

/* The animation code */
@keyframes block {
  from {width: 0%;}
  to {width: 100%;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes text {
  from {height : 0%;}
  to {height: 70%;}
}


@keyframes trasactionx {
  from {left : -40em;}
  to {left: 9em;}
}


@keyframes move{
  from {left : 9em;right:0em;top:-3em;bottom: 0em}
  to {left : 9.2em;right:0.1em;top:-2.9em;bottom: 0.1em}
}




