
.home{

	width: 100%;
	height:100%;
}

.grid{

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20vh;
  margin-top:7em;
}

.white-block{
height: 100%;
background-color: white;
margin: 0;
padding: 0;

}

.animated {
	width: 100%;
	height: 100%;
	text-align: center;
	color: grey;
	padding: 0;
	margin: 0;
	background-color: black;
	border:1px dotted white;
}
.animated  {

	font-size: 320px;
word-wrap: break-word;
white-space: pre-line;
}


.text-desc{

	width: 100%;

}
.text-desc p{
	margin: 0;
	width: 30vw;
	color:#898989;
	font-size:2em;
	direction: rtl;
	margin-left:auto;
	margin-right:12em;
	margin-top:1em;
	font-weight: 300;
	 font-family: 'Assistant';

}




.skipper_car{
	display: flex;
	justify-content: center;
margin-left: 12em;
margin-top: 15px;
}


.img-show{
	position: fixed;
	left:120px;
	top:70px;
	display: block;
	width: 35vw;
	height: 60vh;
	z-index: 2;
	border: 1px white dotted;
	background-size: contain;
	background-repeat: no-repeat;


}