
.bottom{

	display: flex;
	border: 1px white dotted;
	margin:0;
	padding: 0;
	color:white;
	height: 10%;
	width: 100%;
 	justify-content: flex-start;
 	position: absolute;
 	left: 0;
 	bottom: 0;
 	
}


.bottom ul{
	display: block;
	list-style: none;
	
}




.bottom ul li{
display: inline;
}

.bottom ul li a {
  color: inherit;
  text-decoration: none; /* no underline */
}

