.main_nav{


	font-family: 'Rubik';
	color:white;
	font-size:30px;


}


.main_nav ul{

	list-style: none;
	display: flex;
	text-align: center;
	justify-content: center;
}

.main_nav ul li{

margin: 15px;

}

.main_nav ul li a {
  color: inherit;
  text-decoration: none; /* no underline */
}


