
@import url('https://fonts.googleapis.com/css?family=Assistant:300,700&subset=hebrew');

html,body{

  background-color: #0d0d0d;
  	margin:0;
	padding: 0;
	box-sizing: border-box;

}



.a{

}

.b{

}

.c{


}


@font-face {
font-family: 'rubik';
src: url('./fonts/Rubik/Rubik-Black.ttf');
}

