
@import url('https://fonts.googleapis.com/css?family=Assistant:300,700&subset=hebrew');

html,body{

	margin: 0;
	padding: 0;


}

a{
	text-decoration: none;
	color: white;
}


.main_page_container{
	height: 100vh;
	display: grid;
	grid-template-rows: 10% 80% 10%;

}
