
@import url('https://fonts.googleapis.com/css?family=Assistant:300,700&subset=hebrew');

html,body{

  background-color: black;
  	margin:0;
	padding: 0;
	box-sizing: border-box;
	
	height: 100%;
	width: 100%;

}


.app-container{
	height: 100%;
}
#root{
height: 100%;

}
